pipeline/pipeline4.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "GetMetadataFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "pipeline3",
						"type": "DatasetReference",
						"parameters": {
							"DFoldername": {
								"value": "@pipeline().globalParameters.SFolderName",
								"type": "Expression"
							},
							"DFilename": " "
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetMetadataFolder",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadataFolder').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(item().value, 'file')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Dfoldername": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-18T02:04:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}